p {
  /*Simon was here*/
  font-family: Roboto, Arial;
  margin-top: 0;
  margin-bottom: 0;
  
}

body{
  margin: 0;
  padding-top: 80px;
  padding-left: 96px;
  padding-right: 24px;
  background-color: rgb(250, 250, 250);
  transition: padding-left 0.35s; 
}

@media (min-width: 1201px){
  body{
  padding-left: 216px;
  transition: padding-left 0.35s; 
  }
}